.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}

.about-content {
  flex: 1;
  max-width: 50%;
  padding: 0 20px;

  text-align: justify;
}

.about-content h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.about-content p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-image {
  flex: 1;
  max-width: 50%;
}

.about-image img {
  width: 70%;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-content,
  .about-image {
    max-width: 100%;
    padding-right: 0;
    text-align: center;
  }

  .about-image img {
    max-width: 80%;
    margin-bottom: 20px;
  }
}
