.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.contact-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contact-form h2 {
  margin-bottom: 20px;
  color: #333;
  background-color: transparent;
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #0056b3;
}

.contact-image {
  margin-left: 0;
  text-align: center;
}

.contact-image img {
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .contact-form {
    margin-right: 20px;
  }

  .contact-image {
    margin-left: 20px;
  }
}
