
header {
  background-color: #fff;
  color: #333;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  box-shadow: 0 2px 4px #0000001a;
  position: -webkit-sticky; 
  position: sticky;
  top: 0px;
  z-index: 1000;
}

header h1 {
  background: linear-gradient(50deg, #fb3c00, #ffb800); 
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}


header nav {
  display: flex;
  align-items: center;
}

header nav a {
  color: #333;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

header nav a.active {
 
  color: red;
  border-bottom: 2px solid #333;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  header{
    padding: 0px 30px;
  }
  nav {
    display: none; 
    flex-direction: column;
    align-items: flex-start;
    background-color: #f9f9f9;
    position: absolute;
    top: 60px;
    left: 0;
    width: 95%;
    padding: 10px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  nav.show {
    display: flex; 

  }

  .menu-icon {
    display: block; 
  }

  header nav {
    display: none;
  }
  header nav a {
    padding: 10px;
  }

  .menu-icon {
    display: block;
  }
}
