
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.login-container {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 119, 190, 0.2), 0 6px 20px rgba(0, 119, 190, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 100px auto; 
 
}


.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #999;
}

.input-group input {
  width: 100%;
  padding: 15px 15px 15px 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.input-group input:focus {
  border-color: #0077be;
}

.login-container button {
  background-color: #093f5e;
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  width: 80%;
  margin-top: 10px;
  border-radius: 50px;
}

.company-name {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

.login-image {
  width: 70px;
  height: auto; 
  margin-bottom: 20px;
}

.group-data {
  display: flex;
  justify-content: center;
}

.company-name {
  font-family: "Dancing Script", cursive;
  font-size: 27px;
  color: #333;
  text-align: center;
  margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .login-container {
    padding: 30px;
  }

  .login-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .input-group input {
    font-size: 14px;
    padding: 12px 12px 12px 40px;
  }

  .login-container button {
    font-size: 16px;
  }

  .company-name {
    font-size: 22px;
  }
}
