@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.login-container {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 119, 190, 0.2), 0 6px 20px rgba(0, 119, 190, 0.3);
  max-width: 350px;
  width: 90%;
  text-align: center;
  margin: 100px auto;
}
.login-container label{
  text-align: start;
    margin-bottom: 6px;
}

.required{
  color: red;

  font-size: 16px;
}
.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group i {
  position: absolute;
  top: 72%;
  left: 15px;
  transform: translateY(-50%);
  color: #1B1959;
}

.input-group input {
  background-color: #e7e7e7;
  width: 100%;
  padding: 7px 10px 7px 40px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.input-group input:focus {
  border-color: #0077be;
  outline: none;
}

.login-container button {
  background-color: #1B1959;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  width: 70%;
  margin-top: 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #333;
}

.company-name {
  margin-top: 0px;
  font-size: 28px;
  color: #1B1959;
}

.login-image {
  width: 55px;
  height: auto;
  margin-bottom: 22px;
}

.group-data {
  display: flex;
  
  justify-content: center;
  gap:5px;
  /* align-items: center; */
}

.sub-title {

  font-size: 26px;
  margin-left: 14px;
  color: #1B1959;
  margin-top: 0px;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
 
}

/* Responsive styles */
@media (max-width: 768px) {
  .login-container {
    padding: 30px;
  }

  .input-group input {
    font-size: 12px;
    padding: 10px 10px 10px 35px;
  }

  .login-container button {
    font-size: 12px;
    width: 80%;
  }

  .company-name {
    font-size: 20px;
  }
}
