/* Base styles */

.menu-section {
  padding: 1rem;
  background-color: #f8f8f8;
  text-align: center;
}

.menu-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
}

.menu-category {
  width: calc(33.33% - 1rem); /* Initially three columns, minus gap */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px;
  overflow: hidden;
}

.menu-category:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu-category-header {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.menu-category-header img {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  object-fit:cover;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease;
}

.menu-category-header h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  border-radius: 0 10px 0 0;
  font-size: 1.2rem;
}

.menu-category:hover .menu-category-header img {
  transform: scale(1.1);
}

.menu-items {
  padding: 0;
  margin: 0;
}

.menu-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-card-content {
  padding: 1rem;
}

.menu-card-content h4 {
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
}

.menu-card-content .price {
  font-size: 1rem;
  font-weight: bold;
  color: #ff6347;
}

/* Responsive styles */

@media (max-width: 1200px) {
  .menu-category {
    width: calc(50% - 1rem); /* Two columns */
  }
}

@media (max-width: 768px) {
  .menu-category {
    width: 100%; /* One column */
  }
}

