/* Assuming there is a parent container with class .container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #4A90E2, #007AFF);
  height: 100vh; /* Full viewport height to center vertically */
  padding: 20px; /* Add some padding for smaller screens */
}

.request-page {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.heading {
  display: flex;
  justify-content: space-between; /* Distribute space between elements */
  align-items: center;
  padding-bottom: 15px;
}

.heading h3 {
  margin: 0;
  flex-grow: 1; /* Allow the heading to take available space */
  text-align: center; /* Center the heading text */
}

.close-icon {
  font-size: 25px;
  border: 2px solid black;
  border-radius: 30px;
  cursor: pointer; /* Add a pointer cursor for better UX */
  padding: 2px; /* Add some padding for better visual */
}

.close-icon:focus {
  outline: 2px solid #007AFF; /* Add focus outline for accessibility */
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 95%;
  padding: 10px;
}

.input-group.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-group.data > div {
  width: 45%;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group .input-field,
.input-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e7e7e7;
}

.input-group .input-field:focus,
.input-group select:focus {
  border-color: #007AFF; /* Highlight border on focus */
  outline: none; /* Remove default outline */
}

#name.input-field {
  height: 70px; /* Adjust the height as needed */
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.button-group .cancel-button,
.button-group .request-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-group .cancel-button {
  background-color: #f44336;
  color: white;
}

.button-group .cancel-button:focus {
  outline: 2px solid #f44336; /* Add focus outline for accessibility */
}

.button-group .request-button {
  background-color: #4caf50;
  color: white;
}

.button-group .request-button:focus {
  outline: 2px solid #4caf50; /* Add focus outline for accessibility */
}

@media (max-width: 600px) {
  .input-group.data {
    flex-direction: column;
  }

  .input-group.data > div {
    width: 100%;
  }

  .button-group {
    flex-direction: column;
    align-items: flex-end;
  }

  .button-group .cancel-button,
  .button-group .request-button {
    width: 100%;
  }
}
